
body{
   margin: 0em 0em 1em 0em;
}

h1 {
   color: #000;
   background-color: #ddf;
   font-size: 160%;
   margin: 12px
}

h2 {
   color: #000;
   font-size: 140%;
   margin: 12px
}


table{
	border-style: solid;
	border-width: 1px;
	margin-left: 24px;
}

td{
	border-style: solid;
	border-width: 1px;
	width: 42%;

}
th{
        background-color: #ccf;
	border-style: solid;
	border-width: 1px;
	width: 42%;
}       

